@import 'tailwindcss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

/* container */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  color: #38bdf8;
}

.navbar nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #cbd5f5;
  transition: 0.3s;
}

.navbar nav a:hover {
  color: #38bdf8;
}

/* hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
  gap: 40px;
}

.hero-left {
  flex: 1;
}

.hero-left h1 {
  font-size: 48px;
  line-height: 1.2;
}

.hero-left span {
  color: #38bdf8;
}

.hero-left p {
  margin-top: 20px;
  color: #94a3b8;
  font-size: 18px;
}

/* buttons */
.buttons {
  margin-top: 30px;
}

button {
  padding: 12px 22px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 15px;
}

.btn-primary {
  background: #38bdf8;
  border: none;
  color: black;
  font-weight: bold;
}

.btn-outline {
  background: transparent;
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

/* right card */
.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.card {
  background: #111827;
  padding: 30px;
  border-radius: 16px;
  width: 300px;
  box-shadow: 0 0 40px rgba(56, 189, 248, 0.2);
}

.card h3 {
  margin-bottom: 15px;
}

.card p {
  margin: 8px 0;
  color: #cbd5f5;
}

/* features */
.features {
  margin-top: 120px;
  display: flex;
  gap: 20px;
}

.feature {
  background: #111827;
  padding: 25px;
  border-radius: 14px;
  flex: 1;
  transition: 0.3s;
}

.feature:hover {
  transform: translateY(-8px);
}
